<div ng-controller="HeaderController as vm">
  <header class="navbar navbar-static-top navbar-shadow">
    <div class="container-fluid">
      <h4 class="navbar-header">Assessment Builder</h4>
      <ul class="nav navbar-nav navbar-left">
        <li><a href ui-sref="projects.list">Projects</a></li>
        <li><a href ui-sref="users.list">Users</a></li>
        <!--li><a href ui-sref="roles">Roles</a></li-->
      </ul>

      <span class="text-muted pull-right"><small>Build {{vm.buildVersion}} | {{vm.buildDate}}</small></span>
    </div>
  </header>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ui-breadcrumbs
        displayname-property="data.displayName"
        abstract-proxy-property="data.proxy"
        template-url="components/header/breadcrumb.html"
      ></ui-breadcrumbs>

      <ul class="nav navbar-nav navbar-right">
        <li dropdown class="dropdown">
          <a href dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> {{vm.authUserFullName}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="menu in vm.menuItems"><a href ui-sref="{{menu.state}}">{{menu.name}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
