<div>
    <h2>About AHS</h2>
    <h3>Outsourcing with AHS - the best for your business</h3>
    <p>Since 1993 AHS has been providing managed accommodation services to hotels and serviced apartments throughout Asia Pacific.
        Our history is testament to our invaluable service offering. With an experienced management team, AHS continues to prove irreplaceable to hotels and serviced apartments.
        We provide a range of management services including housekeeping, maintenance, human resources, minibar, portering and front office.
    </p>
    <p>At the heart of our business is our increasingly popular housekeeping services. It’s simple –
        <strong>by allowing us to do what we do best, your team is free to do what they do best.</strong>
        Hotel Management are able to redirect their energies to revenue generating goals, such as increasing occupancy and average rates.
        Our staff integrate into your operation seamlessly, with AHS’s management working alongside your team to deliver a superior guest experience.
    </p>
</div>