<div class="col-md-12">
  <h2 class="pull-left">{{vm.test.get('name')}}</h2>
</div>
<div class="col-md-12">
  <div ng-hide="vm.forms.length" class="form-group">There are no forms.</div>
  <form>
    <alert ng-show="vm.addFormError" type="danger">{{vm.error}}</alert>
    <alert ng-show="vm.addFormSuccess" type="success">Form added successfully</alert>
    <div class="form-group">
      <label for="form-name">Form Name</label>
      <input type="text" class="form-control" id="form-name" placeholder="Enter Form Name" ng-model="vm.formName">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-click="vm.addFormToTest()">Add Form</button>
    </div>
  </form>
  <div ng-show="vm.forms.length">
    <h3>Forms</h3>
    <div class="input-group">
      <span class="input-group-addon"><span class="fa fa-search"></span></span>
      <input type="search" placeholder="Search" class="default form-control" autocomplete="off" ng-model="vm.formQuery">
      <span class="input-group-addon"><span class="fa fa-times reset-input" data-ng-click="vm.formQuery = ''"></span></span>
    </div>
    <div class="table-container">
      <div class="table-container-header-fixed">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <td>Name</td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-container-scroll">
        <table class="table table-condensed table-bordered">
        <tbody>
          <thead>
            <tr>
              <td>Name</td>
            </tr>
          </thead>
          <tr ng-repeat="form in vm.forms | search:vm.formQuery:'name'">
            <td><a href ui-sref="root.projectTestForms.detail({formId: form.get('id')})">{{form.get('name')}}</a></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

