<div ng-hide="vm.tests.length" class="form-group">There are no tests.</div>
<form>
  <alert ng-show="vm.addTestError" type="danger">{{vm.error}}</alert>
  <alert ng-show="vm.addTestSuccess" type="success">Test added successfully</alert>
  <div class="form-group">
    <label for="test-name">Test Name</label>
    <input type="text" class="form-control" id="test-name" placeholder="Enter Test Name" ng-model="vm.testName">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-click="vm.addTestToProject()">Add Test</button>
  </div>
</form>
<div ng-show="vm.tests.length">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="fa fa-search"></span></span>
      <input type="search" placeholder="Search" class="default form-control" autocomplete="off" ng-model="vm.testQuery">
      <span class="input-group-addon"><span class="fa fa-times reset-input" data-ng-click="vm.testQuery = ''"></span></span>
    </div>
  </div>
  <div class="table-container">
    <div class="table-container-header-fixed">
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <td>Name</td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-container-scroll">
      <table class="table table-condensed table-bordered">
      <tbody>
        <thead>
          <tr>
            <td>Name</td>
          </tr>
        </thead>
        <tr ng-repeat="test in vm.tests | search:vm.testQuery:'name'">
          <td><a href ui-sref="root.projectTests.detail({testId: test.get('id')})">{{test.get('name')}}</a></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

