resources/
nbproject/
tags
.swn
*.swp
*.swo
*.log
.screenrc*
.DS_Store
._*
*.PHPEditProject
.idea
.buildpath
.project
.settings/
env.diff
tests/acceptance/screenshots/*.png
.sass-cache/
bower_components
.tmp
node_modules
*.css.map
dist
.env
vendor

