<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">
    Add item
  </h3>
</div>

<div class="modal-body">
  <div ng-show="vm.success">
    <div class="alert alert-success">
      {{vm.success}}
    </div>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span class="fa fa-search"></span></span>
        <input type="search" placeholder="Search items by uid or title" class="default form-control" autocomplete="off" ng-model="vm.itemQuery">
      </div>
      <button class="btn btn-primary" ng-click="vm.searchItem()">Search</button>
    </div>
  </form>
  <div class="table-container col-3" ng-show="vm.itemSearchResults">
    <div class="table-container-header-fixed">
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>UID</th>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-container-scroll">
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>UID</th>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.searchItems">
          <td><input type="checkbox" ng-model="item.selected"></td>
          <td>{{item.uid}}</td>
          <td>{{item.title}}</td>
          <td>{{item.stem}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
  <button class="btn btn-default" ng-click="vm.addItems()">Add Selected</button>
</div>
