header {
  &.navbar {
    border-color: $navbar-border-color;
  }

  .navbar-header {
    padding-right: 15px;
  }

  span.pull-right {
    display: block;
    margin-top: $navbar-padding-vertical;
  }
  .navbar-top-ahs {
    background: #00B4EF;
  }
}

