header {
  &.navbar {
    border-color: $navbar-border-color;
  }

  .navbar-header {
    padding-right: 15px;
    color: $acer-purple;
  }

  span.pull-right {
    display: block;
    margin-top: $navbar-padding-vertical;
  }
}

