header {
  &.navbar { margin-bottom: 0; }

  &.navbar-static-top { border: none; }

  .navbar-header {
    padding-right: 15px;
    color: $acer-purple;
  }

  span.pull-right {
    display: block;
    margin-top: $navbar-padding-vertical;
  }
}

