<h3>Assure inspection</h3>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Score: {{vm.currentInspectionData.totalScore}} %</li>
        <li class="list-group-item">Required: {{vm.currentInspectionData.requiredScore}} %</li>
    </ul>
</div>
<div class="container" ng-show="vm.questions.length">
    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" ng-repeat="group in vm.questionsInCategories" is-open="vm.accordionOpenStatus">
            <uib-accordion-heading>
                {{group.category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.accordionOpenStatus, 'glyphicon-chevron-right': !vm.accordionOpenStatus}"></i>
            </uib-accordion-heading>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in group.items"><a ui-sref="root.site.assure-inspection-question({questionId:item.number})">{{item.text}}</a><span class="pull-right">{{item.score}}</span></li>
                </ul>
            </div>
        </div>
    </uib-accordion>
</div>
<div ng-show="vm.currentQuestion" class="container slider-question">
    <div class="row">
        <h3 class="question-number">{{vm.currentQuestion.number}} of {{vm.questions.length}}</h3>
        <div class="container-fluid clearfix question-container">
            <p><strong>{{vm.currentQuestion.category}}</strong></p>
            <p>{{vm.currentQuestion.text}}</p>
            <div class="radio" ng-repeat="answerOption in vm.answerOptions">
                <label>
                    <input type="radio" name="optionsRadios" value="{{answerOption.value}}" ng-model="vm.currentQuestion.answer">
                    {{answerOption.label}}
                </label>
            </div>
            <div class="form-group">
                <label for="form-question-comment" class="col-sm-3">Comment</label>
                <div class="col-xs-12 col-sm-8 col-md-5">
                    <input class="form-control" type="text" ng-model="vm.currentQuestion.comment" name="form-question-comment" id="form-question-comment">
                </div>
            </div>
        </div>
    </div>
    <!-- prev / next controls -->
    <a ng-show="vm.currentQuestion.number>1" class="arrow-question prev" ng-click="vm.saveInspection(vm.previousQuestionNumber)"></a>
    <a ng-show="vm.currentQuestion.number<vm.questions.length" class="arrow-question next" ng-click="vm.saveInspection(vm.nextQuestionNumber)"></a>
</div>
<div class="clearfix"><a ng-click="vm.saveInspection('complete')" class="btn btn-primary" role="button">Complete Inspection</a></div>
