<div id="error">
  <header><h4>{{vm.siteTitle}}</h4></header>

  <article>
    <h1>{{vm.code}}</h1>
    <h4>{{vm.message}}</h4>
    <p>{{vm.description}}</p>
  </article>

  <footer>
    <ul class="tabs clearfix">
        <li>
          <a ng-if="!vm.invalidToken" ui-sref="root.home"><i class="fa fa-home"></i> Back to Home</a>
          <div ng-if="vm.invalidToken">This account has been logged in another device. <a ng-click="vm.clearToken()">Log out now</a></div>
        </li>
      </ul>
  </footer>
</div>
