<div
  ui-tree-handle
  ng-class="{'group': item.isContainer()}"
  class="row tree-node tree-node-content">

    <div class="col-xs-1">
      <checkbox class="checkbox" ng-model="vm.checkboxes[item.get('id')]" data-nodrag></checkbox>
    </div>

    <div class="col-xs-6">
      <div data-nodrag class="row-label" ng-click="vm.$uiTree.toggle(this)">
        <span ng-if="item.hasChild()"
              ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"
              class="fa">
        </span>

        <span class="fa fa-{{item.getIcon()}} second-icon"></span>

        <span class="text">{{item.get('uid')}}</span>
        <span class="badge" ng-if="item.hasChild()">{{item.childCount()}}</span>
      </div>
    </div>

    <div class="col-xs-2">
      <span
        ng-repeat="config in item.getConfig()"
        class="item-config fa fa-wrench">
      </span>
    </div>

    <div class="col-xs-1">
      <span>1.0.0 ZC</span>
    </div>

    <div class="col-xs-2">
      <a
        class="pull-right btn btn-danger btn-xs"
        data-nodrag
        ng-click="vm.remove(this)">
          <span class="fa fa-trash-o"></span>
      </a>

      <a class="pull-right btn btn-default btn-xs"
        data-nodrag
        ng-click="vm.configure(this)">
          <span class="fa fa-wrench"></span>
      </a>

      <a class="pull-right btn btn-primary btn-xs"
        ng-if="item.isContainer()"
        data-nodrag
        ng-click="vm.newSubItem(this)">
          <span class="fa fa-plus"></span>
      </a>
    </div>
</div>

<ol
  ui-tree-nodes
  data-drop-enabled="{{item.isContainer()}}"
  ng-init="items=item.get('items').getAll()"
  ng-model="items"
  ng-class="{hidden: collapsed}">
    <li ng-repeat="item in items" ui-tree-node ng-include="vm.item_renderer"></li>
</ol>
