<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">
    Add configuration to {{vm.title}}
  </h3>
</div>

<div class="modal-body">
  <tabset class="tabbable tabs-left">
    <tab heading="tab-one">this is tab content</tab>
    <tab heading="tab-tow">this is tab 2 content</tab>
    <tab heading="tab-three">this is tab 3 content</tab>
  </tabset>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
  <button class="btn btn-primary" ng-click="vm.updateConfiguration()">Update Config</button>
</div>
