<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">
    Add configuration to {{vm.title}}
  </h3>
</div>

<div class="modal-body">
  <tabset>
    <tab ng-repeat="(title, data) in vm.tabs" heading="{{title|capitalize}}">
      <form sf-schema="data.schema" sf-model="data.model"></form>
    </tab>
  </tabset>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
  <button class="btn btn-primary" ng-click="vm.updateConfiguration()">Update Config</button>
</div>
