//CSS Sticky Footer
// To work, page must be of the form:

// html.sticky-footer
//     #wrapper

//         ///// page content

//         #wrapper-push
//         /wrapper-push
//     /wrapper
//     #footer
//     /footer
// /html.sticky-footer

html.sticky-footer{
    $footer-height:150px;
    &, body{height:100%}
    body>#wrapper{
        min-height:100%;
        margin:0 auto -1*($footer-height);// the bottom margin is the negative value of the footer's height
    }
    #footer, #wrapper>#wrapper-push {
        height: $footer-height; // .push must be the same height as .footer
    }
}

#footer{
    border-top:2px solid;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    color:#777;
    padding:20px;
}