.panel.project{
  padding:10px;
  .project-thumb{
    border-radius:5px;
    color:white;
    font-weight:bold;
    font-size:24px;
    background:#ccc;
    text-shadow:0 -1px rgba(0,0,0,.2);
    box-shadow:0 1px rgba(0,0,0,.2); 
    width:60px;
    line-height:60px;
    text-align:center;
    margin-right:10px;
  } 

  &:nth-child(5n-4) .project-thumb{background: #6ea061;}
  &:nth-child(5n-3) .project-thumb{background: #b66f77;}
  &:nth-child(5n-2) .project-thumb{background: #abb870;}
  &:nth-child(5n-1) .project-thumb{background: #8461A0;}
  &:nth-child(5n) .project-thumb{background: #A08C61;}

}