<h2>Select site</h2>
<div class="row">
    <div class="col-md-12">
        <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Site</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="hotel in vm.hotels">
                <td><p>{{ hotel.name }}</p>
                    <p class="link-color">{{ hotel.address.number }} {{ hotel.address.street }},
                        {{ hotel.address.suburb }} {{ hotel.address.city }},
                        {{ hotel.address.state }} {{ hotel.address.postcode }}
                    </p>
                </td>
                <td><a ui-sref="root.site({siteId: hotel.id})"> > </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>