<div class="col-md-12">
  <h2 class="pull-left">{{$state.current.data.title}}</h2>

  <a
  class="btn btn-primary pull-right"
  ui-sref="root.projects.create">Create Project</a>
</div>

<div class="col-md-12">
  <ul id="project-list" class="list-unstyled">
    <li class="project panel panel-default clearfix" ng-repeat="project in vm.projects">
      <div class="project-thumb pull-left scaled-square ">
        <div class="scaled-square-content"> {{project.get('id')}} </div>
      </div>
      <h2 class="project-title pull-left">
        <a href ui-sref="root.projects.detail({ projectId: project.get('id') })">{{project.get('name')}}</a>
      </h2>
    </li>
  </ul>
</div>
</div>

