<h3>Reset Password</h3>

    <div class="row">
        <div class="col-md-6">
            <form name="resetPasswordForm" role="form" class="reset-password-form">
                <div class="form-group">
                    <div class="alert alert-info" role="alert">Forgot your password? Enter your email address and we will send you an instruction email to reset your password.</div>
                    <div class="alert alert-success" role="alert" ng-if="vm.resetPasswordSuccessfully">An email has been sent to your email address with instructions on how to reset your password.</div>
                    <div class="alert alert-danger" role="alert" ng-if="vm.errorResetPassword">Email address is invalid.</div>
                    <label class="sr-only" for="form-email">Email</label>
                    <input type="email" spellcheck="false" autocapitalize="off" autocorrect="off" required ng-model="vm.email" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                </div>
                <div class="form-group">
                    <button type="button" class="btn button-site-color" ng-disabled="resetPasswordForm.$invalid" ng-click="vm.resetPassword()">Reset password</button>
                </div>
            </form>
        </div>
    </div>

