<tabset class="col-md-6">
  <tab heading="Tests">
    <accordion close-others="true">
      <div ng-hide="vm.tests.length">There are no tests.</div>

      <accordion-group heading="{{test.name}}" ng-repeat="test in vm.tests">

        <table class="table">
          <thead>
            <tr><th ng-repeat="title in vm.tables.tests">{{title}}</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="form in test.forms">
              <td>{{form.id}}</td>
              <td><a href="/forms/show/form-1">{{form.name}}</a></td>
              <td>{{form.date}}</td>
              <td>{{form.user}}</td>
              <td>{{form.user}}</td>
            </tr>
          </tbody>
        </table>

        <a href="/tests/show/test-1" class="btn btn-default btn-sm btn-spaced">View all</a>
      </accordion-group>
    </accordion>
    <form novalidate>
    <div class="form-group">
      <label for="test-name">Test Name</label>
      <input type="text" class="form-control" id="test-name" placeholder="Enter Test Name" ng-model="vm.testName">
    </div>
  <button type="submit" class="btn btn-primary" ng-click="vm.createTest()">Create Test</button>
</form>
  </tab>

  <tab heading="Surveys">
    This is surveys tab
  </tab>

  <tab heading="Exports">
    This is exports tab
  </tab>

  <tab heading="Users" select="vm.getProjectUsers()">
    <div ng-include="vm.userTab.template"></div>
  </tab>

  <tab heading="Assign Users">
    <form novalidate>
    <alert ng-show="vm.assignUserError" type="danger"></alert>
    <alert ng-show="vm.assignUserSuccess" type="success">User assigned to the project successfully</alert>
    <div class="form-group">
      <label>First part of ACER staff's email address (before the @).</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter ACER Email" ng-model="vm.email">
        <div class="input-group-addon">@acer.edu.au</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="vm.addUserToProject()">Add To Project</button>
    </form>
  </tab>
</tabset>
<div class="col-md-6">
  <div class="panel" ng-show="vm.exports.length">
    <div class="panel-heading">
      <h2 class="panel-title panel-title-large">Recent Exports</h2>
    </div>
    <div class="panel-body">
      <table class="table exports">
        <thead>
          <tr><th ng-repeat="title in vm.tables.exports">test{{title}}</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="export in vm.exports">
            <td>{{export.date}}</td>
            <td>{{export.name}}</td>
            <td><span class="ellipsis">{{export.user}}</span></td>
            <td>{{export.note}}</td>
          </tr>
        </tbody>
      </table>

      <a href="exports.html" class="btn btn-default">View all</a>
    </div>
  </div>
</div>

