<div ng-hide="vm.users.length">There are no users.</div>
<div ng-show="vm.users.length">
  <h4>Users Assigned To Project</h4>
    <div class="input-group">
    <span class="input-group-addon"><span class="fa fa-search"></span></span>
    <input type="search" placeholder="Search" class="default form-control" autocomplete="off" ng-model="vm.userQuery">
    <span class="input-group-addon"><span class="fa fa-times reset-input" data-ng-click="vm.query = ''"></span></span>
  </div>
  <div class="table-container">
    <div class="table-container-header-fixed">
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Roles</td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-container-scroll">
      <table class="table table-condensed table-bordered">
      <tbody>
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Roles</td>
          </tr>
        </thead>
        <tr ng-repeat="user in vm.users | search:vm.userQuery:'email,given_name,family_name'">
          <td>{{user.given_name}} {{user.family_name}}</td>
          <td>{{user.email}}</td>
          <td></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

<form novalidate>
  <alert ng-show="vm.assignUserError" type="danger"></alert>
  <alert ng-show="vm.assignUserSuccess" type="success">User assigned to the project successfully</alert>
  <div class="form-group">
    <label>First part of ACER staff's email address (before the @).</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter ACER Email" ng-model="vm.email">
      <div class="input-group-addon">@acer.edu.au</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="vm.addUserToProject()">Add To Project</button>
</form>



